node_modules/
*.log
*.yml
.*

/bin
/public
/routes
/src
/test
/views
/mock
demo
mock
public
tsconfig.json
tsconfig.node.json
vite.config.ts
yarn.lock
index.html
commitlint.config.cjs
Dockerfile
app.js
index.ts
